 /* Google fonts import */
 @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto+Flex:opsz@8..144&display=swap');@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto+Flex:opsz@8..144&display=swap');

 body {
    background-image: url(../images/christmas-twig-with-candle-present-boxes.png);
    margin: 0;
    padding: 100px 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container {
    text-align: center;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-weight: 400;
    font-family: 'Great Vibes', sans-serif;
    font-size: 5em;
    margin-bottom: auto;
    padding: 10px;
    color: rgb(177, 6, 6);
}

h2 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.5em;
    margin: 20px 0;
    padding: 10px;

}

button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
}

button:hover {
    background-color: #45a049;
}