 /* Google fonts import */
 @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto+Flex:opsz@8..144&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto+Flex:opsz@8..144&display=swap');

 /* Styling the front page */
 body {
     background-image: url(../images/christmas-twig-with-candle-present-boxes.png);
     margin: 0;
     padding: 100px 0;
     height: 100vh;
     background-size: cover;
     background-position: center;
     display: flex;
     align-items: center;
     justify-content: center;

 }

 .container {
     text-align: center;
 }

 header {
     margin-bottom: 20px;
 }

 h1 {
     font-weight: 400;
     font-family: 'Great Vibes', sans-serif;
     font-size: 5em;
     margin-bottom: auto;
     padding: 10px;
     color: rgb(177, 6, 6);
 }

 h2 {
     font-family: 'Roboto Flex', sans-serif;
     font-size: 1.5em;
     margin: 20px 0;
     padding: 10px;

 }

 #playButton {
     font-size: 1.5em;
     padding: 10px 20px;
     background-color: red;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     margin-top: 50px;
 }

 #playButton:hover {
     background-color: #45a049;
 }

 /* Styling the guiz page */
 .second-body {
     margin: 0;
     padding: 0;
     font-family: 'Roboto Flex', sans-serif;
     box-sizing: border-box;
     background-image: url(../images/santa-christmas.png);
 }

 .quiz {
     background: #fff;
     width: 90%;
     max-width: 600px;
     margin: 100px 30px 0;
     border-radius: 10px;
     padding: 30px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

 }

 .quiz h2 {
     font-size: 25px;
     color: black;
     font-weight: 600;
 }

 .btn {
     background: #fff color: black;
     font-weight: 500;
     font-size: 20px;
     width: 100%;
     border: 1px solid #222;
     padding: 10px;
     margin: 10px 0;
     text-align: left;
     border-radius: 4px;
     cursor: pointer;
     transition: all 0.3s;

 }

 .btn:hover.btn:hover:not([disabled]) {
     background: #222;
     color: #fff;

 }

 .btn:disabled {
     cursor: no-drop;
 }

 #next-btn {
     background: rgb(177, 6, 6);
     color: #fff;
     font-weight: 500;
     font-size: 18px;
     width: 150px;
     border: 0;
     padding: 10px;
     margin: 20px auto 0;
     border-radius: 4px;
     cursor: pointer;
     display: none;

 }

 .correct {
     background: lightgreen;
 }

 .incorrect {
     background: rgb(219, 89, 89);
 }

 #exitButton {
     font-size: 1.5em;
     padding: 10px 20px;
     background-color: red;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     display: none;

 }

 #exitButton:hover {
     background-color: #45a049;
 }